@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.App {
  text-align: center;
  background-color: #f2f2f2;
  font-family: 'Montserrat', sans-serif;
}

.navbar a{
  text-decoration: none;
}
.LinkClass{
  text-decoration: none !important;
  font-size: 20px !important;
  margin-left: 20px;
}

.LinkClass :hover{
  text-decoration: none !important;
}

.desc{
  text-align: justify;
}
.bg{
  background-image: url("../public/bg-img.jpg");
  height: 90vh;
  width:100%;
  background-size: cover;
  text-align: center;
  padding: 300px 0;
  background-position: center center;

}

.bg h1{
  font-size: 80px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}


.link{
  text-decoration: none;
 
}

.link:hover{
  text-decoration: none;
}

.formBox{
  width:450px;
  padding: 50px 0px;
  box-sizing: border-box;
  margin: auto;
  text-align: left;
  margin:50px auto;
}

.formBox input, .formBox button{
  font-size: 20px;
  padding:10px;
}

.formBox button{
  font-size: 20px;
  padding:5px 20px;
}

.L{
  color:blue !important;
  text-align: right;
  padding: 5px;
}

.img{
  width:90%
}

.p{
  padding:90px 0;
}

.greeting{
  text-align: center;
  margin: 50px;
}


.n{
  color: grey;
  text-align: right;
  margin: 0px;
}
.footer{
  text-align: center;
  background-color: #f2f2f2;
  line-height: 50px;
  margin-top: 200px;
}


.errpage{
  padding:150px 0;
}


.errmsg{
  color: red;
}



.dbox{
  background-color: #fff;
  width: 600px;
  margin: auto;
  box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 30px;
  position: absolute;
  top:30%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  }


  .admin{
    margin: 50px 0;
  }


  .con{
    margin: 0px 10px;
    
  }

  .ri{
    margin-right: 230px;
    float: right;
  }